---
import { getCollection } from 'astro:content'
import { render } from 'astro:content'
import { collections } from '../../content/config'
import Layout from '../../layouts/Layout.astro'
import Avisos from '../../components/Avisos.astro'
import Title from '../../components/Layout/Title.astro'
import FormattedDate from '../../components/FormattedDate.astro'
import { pick } from '../../lib/utils'

interface Props {
  coleccion: keyof typeof collections
}

const coleccion = Astro.params.coleccion as keyof typeof collections

if (!coleccion || !Object.prototype.hasOwnProperty.call(collections, coleccion)) {
  return Astro.redirect('/404')
}

const posts = await getCollection(coleccion)
const post = posts.filter((post) => post.id.includes('index'))[0]

if (!post) {
  return Astro.redirect('/404')
}

const layoutData = pick(post.data, ['title', 'description', 'heroImage', 'isMath'])
const dateData = pick(post.data, ['pubDate', 'updatedDate'])

const { Content } = await render(post)
---

<Layout {...layoutData}>
  {post.data.construccion && <Avisos slot="avisos" />}
  <Title slot="title">
    <FormattedDate {...dateData} />
    {post.data.title}
  </Title>
  <Content />
</Layout>
