<div class="title">
  <slot name="date" />
  <h1><slot /></h1>
  <hr />
</div>

<style>
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
    font-size: 3rem;
  }
</style>
