---
import Title from '../components/Layout/Title.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Sobre el proyecto"
  description="Un espacio para compartir apuntes universitarios de manera organizada y accesible"
  heroImage="/blog-placeholder-about.jpg"
>
  <Title slot="title">Sobre el proyecto</Title>
  <p>
    <strong>Student-blog</strong> naci칩 con el prop칩sito de facilitar el acceso a apuntes universitarios
    de manera sencilla y organizada. Aqu칤 podr치s encontrar res칰menes de clases, extractos de libros,
    resoluciones de gu칤as y mucho m치s, todo presentado en formatos cortos y estructurados para facilitar
    su lectura y comprensi칩n.
  </p>
  <p>
    Este proyecto es totalmente desinteresado y sin fines comerciales. Nuestro 칰nico objetivo es
    ayudar a estudiantes a acceder a material 칰til para sus estudios de forma f치cil y r치pida. Es
    importante mencionar que
    <b>student-blog</b>
    es un <i>"side project"</i>, lo que significa que no siempre tendremos todas las asignaturas o
    apuntes disponibles. Si deseas contribuir con tus propios apuntes, te invitamos a revisar
    nuestras pautas en <a
      href="https://github.com/Mr-ZeMoreno/student-blog/blob/main/CONTRIBUTING.md"
      target="_blank"
      rel="noopener noreferrer">el repositorio del proyecto</a
    >.
  </p>
  <p>
    Queremos que el aprendizaje sea m치s accesible, organizado y al alcance de todos. Si encuentras
    que nuestros apuntes te son 칰tiles, 춰te animamos a compartirlos con otros! Recuerda, el
    conocimiento crece cuando se comparte. 游游닄
  </p>
</Layout>
