<div class="avisos">El siguiente sitio se encuentra en construcción</div>

<style>
  .avisos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100dvw;
    font-size: x-large;
    font-weight: 700;
  }
</style>
